#home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#search-container {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #edf5f5;
}

#search,
#result {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#search {
  border-bottom: 1px solid gray;
}

#result {
  align-items: center;
}

#liked-container {
  width: 48%;
  height: 100%;
  background: #edf5f5;
}
